<app-header></app-header>
<!-- <app-side-bar></app-side-bar> -->

<!-- <div class="container align-items-center">
<button type="button" class="btn btn-success btn-circle btn-xl">Fashion Area</button> 
<button type="button" class="btn btn-danger btn-circle btn-xl">Print Area</button> 
</div> -->
<div class="d-flex flex-row">
    <div class="col-2">
        <div class="card">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">P1</li>
                <li class="list-group-item">P2</li>
                <li class="list-group-item">P3</li>
                <li class="list-group-item">P4</li>
                <li class="list-group-item">P1</li>
                <li class="list-group-item">P2</li>
                <li class="list-group-item">P3</li>
                <li class="list-group-item">P4</li>
            </ul>
        </div>
    </div>
    <div class="col-11">
        <!-- Fashion Area -->
    <div class="card">
        <div class="card-header">
            Fashion Area
        </div>
        <div class=" d-flex flex-row">
        <div class="card-body col-3">
            <img class="card-img" src="assets/images/item-sign.png" alt="John" style="width:100%">
            <h4>Gown</h4>
            <div class="d-flex flex-row">
               <div class="col-2 card-body-col" >
                <h6>Size:</h6>
                <h6>Cloth:</h6>
                <h6>Material:</h6>
                <h6>Price:</h6>
               </div>
               <div class="col-2 card-body-col">
                <h6>24</h6>
                <h6>cotton</h6>
                <h6>x,y,z</h6>
                <h6>BDT-1050</h6>
                </div>
            </div>
            <button class="btn btn-secondary">3D View</button>
            <button class="btn btn-primary">Add to Cart</button>
          </div>

          <div class="card-body col-3">
                <img class="card-img" src="assets/images/item-sign.png" alt="John" style="width:100%">
                <h4>Gown</h4>
                <div class="d-flex flex-row">
                   <div class="col-2 card-body-col" >
                    <h6>Size:</h6>
                    <h6>Cloth:</h6>
                    <h6>Material:</h6>
                    <h6>Price:</h6>
                   </div>
                   <div class="col-2 card-body-col">
                    <h6>24</h6>
                    <h6>cotton</h6>
                    <h6>x,y,z</h6>
                    <h6>BDT-1050</h6>
                    </div>
                </div>
                <button class="btn btn-secondary">3D View</button>
                <button class="btn btn-primary">Add to Cart</button>
          </div>

          <div class="card-body col-3">
                <img class="card-img" src="assets/images/item-sign.png" alt="John" style="width:100%">
                <h4>Gown</h4>
                <div class="d-flex flex-row">
                   <div class="col-2 card-body-col" >
                    <h6>Size:</h6>
                    <h6>Cloth:</h6>
                    <h6>Material:</h6>
                    <h6>Price:</h6>
                   </div>
                   <div class="col-2 card-body-col">
                    <h6>24</h6>
                    <h6>cotton</h6>
                    <h6>x,y,z</h6>
                    <h6>BDT-1050</h6>
                    </div>
                </div>
                <button class="btn btn-secondary">3D View</button>
                <button class="btn btn-primary">Add to Cart</button>
          </div>

          <div class="card-body col-3">
                <img class="card-img" src="assets/images/item-sign.png" alt="John" style="width:100%">
                <h4>Gown</h4>
                <div class="d-flex flex-row">
                   <div class="col-2 card-body-col" >
                    <h6>Size:</h6>
                    <h6>Cloth:</h6>
                    <h6>Material:</h6>
                    <h6>Price:</h6>
                   </div>
                   <div class="col-2 card-body-col">
                    <h6>24</h6>
                    <h6>cotton</h6>
                    <h6>x,y,z</h6>
                    <h6>BDT-1050</h6>
                    </div>
                </div>
                <button class="btn btn-secondary">3D View</button>
                <button class="btn btn-primary">Add to Cart</button>
          </div>
        </div>
    </div>
    <!-- Print & Desing Area -->
    <div class="card">
            <div class="card-header">
                Printing & Desing Area
            </div>
            <div class=" d-flex flex-row">
            <div class="card-body col-3">
                <img class="card-img" src="assets/images/item-sign.png" alt="John" style="width:100%">
                <h4>Gown</h4>
                <div class="d-flex flex-row">
                   <div class="col-2 card-body-col" >
                    <h6>Type:</h6>
                    <h6>Size:</h6>
                    <h6>Material:</h6>
                    <h6>Price:</h6>
                   </div>
                   <div class="col-2 card-body-col">
                    <h6>ABC</h6>
                    <h6>24</h6>
                    <h6>x,y,z</h6>
                    <h6>BDT-105</h6>
                    </div>
                </div>
                <button class="btn btn-secondary">3D View</button>
                <button class="btn btn-primary">Add to Cart</button>
              </div>
    
              <div class="card-body col-3">
                    <img class="card-img" src="assets/images/item-sign.png" alt="John" style="width:100%">
                    <h4>Gown</h4>
                    <div class="d-flex flex-row">
                       <div class="col-2 card-body-col" >
                        <h6>Type:</h6>
                        <h6>Size:</h6>
                        <h6>Material:</h6>
                        <h6>Price:</h6>
                       </div>
                       <div class="col-2 card-body-col">
                        <h6>ABC</h6>
                        <h6>24</h6>
                        <h6>x,y,z</h6>
                        <h6>BDT-105</h6>
                        </div>
                    </div>
                    <button class="btn btn-secondary">3D View</button>
                    <button class="btn btn-primary">Add to Cart</button>
              </div>
    
              <div class="card-body col-3">
                    <img class="card-img" src="assets/images/item-sign.png" alt="John" style="width:100%">
                    <h4>Gown</h4>
                    <div class="d-flex flex-row">
                       <div class="col-2 card-body-col" >
                        <h6>Type:</h6>
                        <h6>Size:</h6>
                        <h6>Material:</h6>
                        <h6>Price:</h6>
                       </div>
                       <div class="col-2 card-body-col">
                        <h6>ABC</h6>
                        <h6>24</h6>
                        <h6>x,y,z</h6>
                        <h6>BDT-105</h6>
                        </div>
                    </div>
                    <button class="btn btn-secondary">3D View</button>
                    <button class="btn btn-primary">Add to Cart</button>
              </div>
    
              <div class="card-body col-3">
                    <img class="card-img" src="assets/images/item-sign.png" alt="John" style="width:100%">
                    <h4>Gown</h4>
                    <div class="d-flex flex-row">
                       <div class="col-2 card-body-col" >
                        <h6>Size:</h6>
                        <h6>Cloth:</h6>
                        <h6>Material:</h6>
                        <h6>Price:</h6>
                       </div>
                       <div class="col-2 card-body-col">
                        <h6>24</h6>
                        <h6>cotton</h6>
                        <h6>x,y,z</h6>
                        <h6>BDT-1050</h6>
                        </div>
                    </div>
                    <button class="btn btn-secondary">3D View</button>
                    <button class="btn btn-primary">Add to Cart</button>
              </div>
            </div>
        </div>
    </div>

</div>