<app-header></app-header>
<!-- <app-side-bar></app-side-bar> -->

<!-- <div class="container align-items-center">
<button type="button" class="btn btn-success btn-circle btn-xl">Fashion Area</button> 
<button type="button" class="btn btn-danger btn-circle btn-xl">Print Area</button> 
</div> -->
<div class="d-flex flex-row">
    <div class="col-2">
        <div class="card">
            <label>Fashion</label>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Gown</li>
                <li class="list-group-item">3-piece</li>
                <li class="list-group-item">A1</li>
                <li class="list-group-item">A2</li>
            </ul>
            <label>Printing & Design</label >

            <ul class="list-group list-group-flush">
                <li class="list-group-item">Mug</li>
                <li class="list-group-item">Key-ring</li>
                <li class="list-group-item">T-shirt</li>
                <li class="list-group-item">Creast</li>
            </ul>
        </div>
    </div>
    <router-outlet></router-outlet>
</div>