<div class="d-flex flex-row">
    <div class="col-6">
        <img class="card-img" src="assets/images/item-sign.png" alt="John">
    </div>
    <div class="col-6">
        <h6>Color:</h6>
        <table class="color-table table-bordered">
                <tbody>
                    <tr>
                        <!-- <td style="background-color: white;"></td>
                        <td style="background-color: red;"></td>
                        <td style="background-color: green;"></td>
                        <td style="background-color: blue;"></td> -->

                        <td [ngStyle]="setColor(0)"></td>
                        <td [ngStyle]="setColor(1)"></td>
                        <td [ngStyle]="setColor(2)"></td>
                        <td [ngStyle]="setColor(3)"></td>
                    </tr>
                </tbody>
        </table>
        <h6>Size:</h6>
        <table class="size-table table-bordered">
            <tbody>
                <tr>
                    <td *ngIf="sizeList[0]">{{sizeList[0]}}</td>
                    <td *ngIf="sizeList[1]">{{sizeList[1]}}</td>
                    <td *ngIf="sizeList[2]">{{sizeList[2]}}</td>
                    <td *ngIf="sizeList[3]">{{sizeList[3]}}</td>
                </tr>
            </tbody>
        </table>
        <div>
            <h6>Quantity</h6>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1" (click)="getQuantity(0)">-</span>
                </div>
                <input type="text" class="form-control input-quantity" aria-label="Username"
                    aria-describedby="basic-addon1" value="{{quantity}}">
                <div class="input-group-append">
                    <span class="input-group-text" id="basic-addon2" (click)="getQuantity(1)">+</span>
                </div>
            </div>
        </div>
        <div>
            <button class="btn btn-secondary">Add to Cart</button>
            <button class="btn btn-primary">Buy Now</button>
        </div>
        
        <div>Product type: abc</div>
        <div>Metarial: xyz</div>
        <div class="rate">
            <input type="radio" id="star1" name="rate" value="1" />
            <label for="star1" title="text">1 star</label>
            <input type="radio" id="star2" name="rate" value="2" />
            <label for="star2" title="text">2 stars</label>
            <input type="radio" id="star3" name="rate" value="3" />
            <label for="star3" title="text">3 stars</label>
            <input type="radio" id="star4" name="rate" value="4" />
            <label for="star4" title="text">4 stars</label>
            <input type="radio" id="star5" name="rate" value="5" />
            <label for="star5" title="text">5 stars</label>
        </div>
    </div>  
    
</div>