<div class="header-container">
  <div class="d-flex flex-row" style="margin-top: 1%;margin-bottom: 1%;">
      <div class="col-3">
        <a href="#"><img class="logo" src="assets/images/logo.png"/></a>
      </div>
      <div class="search-input col-7">
        <form class="form-inline my-2 my-lg-0">
          <input style="width: 50%;" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
      <div class="col-3">
        <img class="shipping-cart" src="assets/icons/shopping-cart.svg"/>
        <!-- <img src="assets/icons/shopping-cart.svg"/> -->
        <!-- <a href="" class="notif"><span class="num">2</span></a> -->
      </div>
  </div>
</div>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"><img src="assets/icons/home.svg"/></a>
  
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <!-- <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li> -->
      <li class="nav-item dropdown">
        <div class="dropdown">
          <a class="nav-link" href="#" id="navbarDropdown" role="button">
            Fashion
          </a>
          <div class="dropdown-content">
            <a href="#">Gown</a>
            <a href="#">3-piece</a>
          </div>
        </div>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li> -->
    </ul>

  </div>
</nav>

    
    <!-- <div id="mySidenav" class="sidenav">
        <a class="closebtn" (click)="closeNav()">&times;</a>
        <a href="#">About</a>
        <a href="#">Services</a>
        <a href="#">Clients</a>
        <a href="#">Contact</a>
    </div>
     -->